.loader {
  margin: 0 auto;
  display: block;
  position: fixed; /* Задаем абсолютное позиционирование */
  top: 50%; /* Перемещаем блок вверх на 50% относительно родительского блока */
  left: 50%; /* Перемещаем блок вправо на 50% относительно родительского блока */
  transform: translate(-50%, -50%);
}
